{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "browsers": [
            ">1%",
            "last 4 versions",
            "Firefox ESR",
            "not ie < 9",
            "Explorer 11",
          ]
        },
        "debug": true,
        "useBuiltIns": "usage"
      }],
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/plugin-proposal-export-default-from",
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-proposal-class-properties"
    ],
    "env": {
    "test": {
        "plugins": [
          "istanbul"
        ]
      }
    }
}